<div class="results-wrapper">
<h2><a href="/">The Star Wars Search Engine</a></h2>
<div id="search-bar">
<form action="/searchapi" method="post">
<input type="number" name="search_query" placeholder="Type in ID# if applicable">
<select name="yer">
<option value="all-films">All Films</option>
<option value="all-people">All People</option>
<option value="person">Person by ID</option>
<option value="starship">Starship by ID</option>
</select>
<input type="submit" value="GO">
</form>
</div>

<div id="container">

<ul>
<li><%= @person_name %></li>
<li><%= @person_birthday %></li>
<li><%= @person_gender %></li>
<li><%= @person_hair %></li>
<li><%= @person_height %></li>
<li><%= @person_mass %></li>
<li><%= @person_eye %></li>
<li><%= @person_skin %></li>
</ul>

<%= @notfound %>

<ul>
<li><%= @starship_name %></li>
<li><%= @starship_model %></li>
<li><%= @starship_manufacturer %></li>
<li><%= @starship_cost_in_credits %></li>
<li><%= @starship_length %></li>
<li><%= @starship_max_atmosphering_speed %></li>
<li><%= @starship_crew %></li>
<li><%= @starship_cargo_capacity %></li>
<li><%= @starship_consumables %></li>
<li><%= @starship_hyperdrive_rating %></li>
<li><%= @starship_MGLT %></li>
<li><%= @starship_starship_class %></li>
</ul>
<%= @all_people %>
<%= @all_films %>
</div>
</div>