<div class="results-wrapper">
<h2><a href="/">The Star Wars Search Engine</a></h2>
<div id="search-bar">
<form action="/searchapi" method="post">
<select name="yer">
<option value="all-films">All Films</option>
<option value="all-people">All People</option>
<option value="person">Person by ID</option>
<option value="starship">Starship by ID</option>
</select>
<input type="number" name="search_query" placeholder="Type in ID# if applicable">
<input type="submit" value="GO">
</form>
</div>

<div id="container">

<ul>
<li><%= @person_name %></li>
<li><%= @person_birthday %></li>
<li><%= @person_gender %></li>
<li><%= @person_hair %></li>
<li><%= @person_height %></li>
<li><%= @person_mass %></li>
<li><%= @person_eye %></li>
<li><%= @person_skin %></li>
</ul>


<ul>
<li><%= @starship_name %></li>
<li><%= @starship_model %></li>
<li><%= @starship_manufacturer %></li>
<li><%= @starship_cost_in_credits %></li>
<li><%= @starship_length %></li>
<li><%= @starship_max_atmosphering_speed %></li>
<li><%= @starship_crew %></li>
<li><%= @starship_cargo_capacity %></li>
<li><%= @starship_consumables %></li>
<li><%= @starship_hyperdrive_rating %></li>
<li><%= @starship_MGLT %></li>
<li><%= @starship_starship_class %></li>
</ul>

<% if @all_people != nil %>
<% @all_people.each do |person| %>
    <ul>
    <li><%= "Name: " + person["name"].to_s %></li>
    <li><%= "Height: " + person["height"].to_s %></li>
    <li><%= "Mass: " + person["mass"].to_s %></li>
    <li><%= "Hair Color: " + person["hair_color"].to_s %></li>
    <li><%= "Birth Year: " + person["birth_year"].to_s %></li>
    <li><%= "Gender: " + person["gender"].to_s %></li>
    <li><%= "Eye Color: " + person["eye_color"].to_s %></li>
    <li><%= "Skin Color: " + person["skin_color"].to_s %></li>
    </ul>
<% end %>
<% end %>

<% if @all_films != nil %>
<% @all_films.each do |film| %>
    <ul>
    <li><%= "Title: " + film["title"].to_s %></li>
    <li><%= "Opening Crawl: " + film["opening_crawl"].to_s %></li>
    <li><%= "Director: " + film["director"].to_s %></li>
    <li><%= "Producer: " + film["producer"].to_s %></li>
    <li><%= "Release Date: " + film["release_date"].to_s %></li>
    </ul>
<% end %>
<% end %>
</div>
</div>